<div class="container">
  <div class="row">
    <button class="btn btn-secondary mb-3 ml-4 " (click)="goBack()">Volver</button>
    <div class="col-md-12">
      <div class="card text-capitalize mb-2">
        <h5 class="my-2 font-weight-lighter ">Usuario <span class="border-bottom border-dark">{{userId}}</span> </h5>

        <div class="" *ngFor="let x of singlePost">

          <h5>{{x.title}}</h5>
          <p>{{x.body}}</p>
          <hr>
        </div>


      </div>
    </div>


  </div>
</div>
