<div class="container">
  <div class="row ">
    <div class="col-12 ">

      <div class="form-inline mb-3">
        <select class="form-control text-center mx-auto" aria-label="Default select example" (change)="opcionHandle($event)">
          <option [value]="'todos'">Todos</option>
          <option [value]="x.title" *ngFor="let x of posts">{{x.title}}</option>
        </select>

      </div>

      <div *ngIf="!seleccionado">
        <div class="card text-center">

          <div *ngFor="let post of posts">
            <div class="h5">{{post.title}}</div>
            <p>{{post.body}}</p>
            <hr>
          </div>

        </div>
      </div>

    </div>
    <div class="col-12" *ngIf="seleccionado">
      <div class="card text-center text-capitalize">
        <div class="card-title mb-0 ">
          <div class="h5 ">{{seleccionado.title }}</div>
        </div>
        <div class="card-body text-center">
          <p>{{seleccionado.body}}</p>
          <button class=" mb-3 btn btn-secondary" routerLink="/userDetails/{{seleccionado.id}}">Detalles del
            Usuario</button>
          <br>
          <button class="btn btn-secondary" routerLink="/comments/{{seleccionado.id}}">Comentarios</button>

        </div>
      </div>

    </div>
  </div>
</div>
